@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family:'Popins';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/***************  Header  ***********/
header{
     background-color:lightseagreen;
     width: 100%;
    position: fixed;
    z-index:999 ;
    display: flex;
     justify-content:space-between;
    align-items: center;
    padding: 10px 200px;
}
.Nom{
    text-decoration:none ;
    color:black ;
    text-transform:uppercase ;
    font-weight: 700;
    font-size: 1.8em;
}
.Navig a{
    color: blue;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;

}
.Navig a:hover{
    color: black;
    font-size: 1.4em;
    font-weight: 600;
}
/***************** Section 1 ************/
section{
    padding: 100px 200px;
    
}
.Main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    text-align: right center;
    background: url(Myself/vertnoir.jpeg) no-repeat;
    background-size:contain;
    background-position: right center;
    background-attachment: fixed;
    background-color: black;
}

.Main h2{
    color: aliceblue;
    font-size: 1.9em;
    font-weight: 700;
}
.Main h1{
    font-size: 3em;
    font-weight: 200px;
    margin-top: 20px;
    display: inline-block;
    margin-top: 10px;
    color: blue;
}

.Main h3{
    color: aliceblue;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.avoir{
    color:white ;
    background-color:blue ;
    text-decoration: none;
    font-size: 1.1em;
    font-weight:600 ;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.07 ease;
}
.avoir:hover{
    background-color: darkblue;
    transform: scale(1.1);
 }
.icon a{
    color: white;
    font-size: 1.7em;
    padding-right: 30px;
}
/*******************Section 2 ************/
section{
    padding: 100px 200px;
    
}

.serv{
    display: flex;
    justify-content: center;
    color: blue;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color:white ;
    width: 21.25em;
    box-shadow: 0 5px 15px rgba(1 1 1 /15%) ;
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    
 }
 .card :hover{
   transform: scale(1.1);
 }
 .card img{
    margin: 10px;
 }
 .info{
    text-align: center;
 }
 .info h3{
    color: blue;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;

 }

 /******* section 3 *****/
 
.container {
  width: 350px;
  margin: 80px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

textarea {
  resize: none;
  height: 100px;
}

button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

#feedback {
  margin-top: 10px;
  text-align: center;
}

.success {
  color: green;
}

.error {
  color: red;
}